body {
  overflow: hidden;
}

.full_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo_div {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(220, 220, 220, 0.6);
  padding: 10px;
  border-radius: 15px;
  z-index: 1;
}

.logo {
  max-height: 80px;
}
